.card {
  background-color: white;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  max-width: 950px;
}
.card-sm {
  flex: 1 1 0;
  height: 200px;
  max-width: 600px;
  min-width: 398px;
}
.card-md {
  flex: 1 1 0;
  height: 280px;
  min-width: 300px;
}
.card-pic {
  flex: 2 1 0;
  height: var(--height);
  overflow: hidden;
  width: var(--width);
  --height: 100%;
  --width: 100%;
}
.card-pic > img {
  height: var(--height);
  object-fit: cover;
  width: var(--width);
}
.card-info {
  height: 100%;
  padding: 10px;
}
.card-info > * {
  flex: 1;
}
.card-info > :nth-child(2) {
  margin: 10px 0;
}
.card-info-md {
  flex: 1 1 0;
}
.card-info-sm {
  flex: 3 1 0;
}
.card-title {
  padding: 15px;
}
.stars {
  align-items: flex-end;
  display: flex;
}
.stars > img {
  height: 20px;
}
@media screen and (max-width: 992px) {
  .card-sm,
  .card-md,
  .card-lg {
    min-height: 180px;
  }
  .card-sm {
    height: 220px;
    max-width: 950px;
    min-width: 450px;
  }
  .card-md {
    height: 350px;
    min-width: 285px;
  }
  .card-lg {
    min-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .card,
  .card-sm,
  .card-md,
  .card-lg {
    min-width: 250px;
  }
  .card {
    flex: auto;
    height: 55vw;
    max-height: 300px;
    width: 100%;
  }
  .card-sm {
    height: 45vw;
    max-height: 220px;
  }

  .card-info {
    padding: 5px;
  }
  .card-info-md {
    flex: 0;
  }
  .card-info > :nth-child(2) {
    margin: 5px 0;
  }
  .card-info-sm {
    flex: 3 1 0;
    padding: 5px 10px;
  }
}
