/* Flex */
/*#region Flex */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.flex-align-end {
  align-items: end;
}
.flex-justify-center {
  justify-content: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-grow-1 {
  flex: 1;
}
.flex-grow-2 {
  flex: 2;
}
.flex-grow-3 {
  flex: 3;
}
.gap {
  gap: 30px;
}
.gap-sm {
  gap: 15px;
}
.gap-extra-sm {
  gap: 5px;
}
.gap-lg {
  gap: 45px;
}
.wrap {
  flex-wrap: wrap;
}
/* #endregion */

/* Margins */
/* #region Margins */
.margin-y {
  margin: 50px 0 30px 0;
}
.margin-y-sm {
  margin: 30px 0 20px 0;
}
.margin-top {
  margin-top: 90px;
}
.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}
/* #endregion */

/* Padding */
/* #region Margins */
.padding-sm {
  padding: 10px;
}
.padding-md {
  padding: 35px;
}
.padding-x {
  padding-left: 25px;
  padding-right: 25px;
}
.padding-x-md {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-x-lg {
  padding-left: 45px;
  padding-right: 45px;
}
.padding-y {
  padding-bottom: 60px;
  padding-top: 60px;
}
/* #endregion */

/* Border */
/* #region Margins */
.border-gray {
  border: solid 3px var(--color-gray);
}
.border-y-gray {
  border-bottom: solid 1px var(--color-gray);
  border-top: solid 1px var(--color-gray);
}
/* #endregion */

/* Colors */
/* #region Margins */
.bg-gray {
  background-color: var(--color-gray);
}
.bg-blue {
  background-color: var(--color-blue);
}
.color-blue {
  color: var(--color-blue);
}
.color-gray {
  color: var(--color-gray);
}
.color-black {
  color: black;
}
/* #endregion */

/* Rounded */
/* #region Margins */
.rounded {
  border-radius: 20px;
}
.rounded-left {
  border-radius: 20px 0 0 20px;
}
.rounded-right {
  border-radius: 0 20px 20px 0;
}
.rounded-top {
  border-radius: 20px 20px 0 0;
}
.circle {
  border-radius: 50%;
}
/* #endregion */

/* Height */
/* #region Margins */
.h-100 {
  height: 100%;
}
/* #endregion */

/* width */
/* #region Margins */
.w-100 {
  width: 100%;
}
.w-95-center {
  margin: 0 auto;
  width: 95%;
}

.w-fit {
  width: fit-content;
}
/* #endregion */

/* Display */
/* #region Margins */
.d-block {
  display: block;
}
/* #endregion */

/* Font */
/* #region */
.text-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
/* #endregion */

/* Hover */
.hover-color-blue:hover {
  color: var(--color-blue);
}
